/* estilos (combinar)*/
/* .menu .li*/
/* puedo hacer combinaciones por espacio, con la condicion de que deban ser hijos de la clase menu. */
/* .menu, y aplique a todo lo que es li, rompe el arbol. */
/* .menu, li{
    list-style: none;
} */
/* nav, li la descripcion padre no existe, aplica a todos los nav li */
.menu, li{
    list-style: none;
    display: inline-block;
    font:bold 14px arial;
    border: solid;
    /* manecillas del reloj de 90 grados una vuelta completa */
    /* padding: 5px 35px 5px 15px; */
    /* 2 valores up, bottom, 4 valores all */
    /* 1 valor aplica a todos los lados */
    padding: 5px 35px 5px 15px;
    /* margin: 20px 140px; */
    margin: 10px;
}
.cabecera h1, h6{
    text-align: center;
}

.menu{
    /* background es lo mismo que background color */
    /* background: #2982cf50; */
    text-align: left;
}
h1{
    font-size: 70px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    text-align: center;
    background-color: rgb(219, 241, 241);
}
img[src]{
    width: 120px;
    height: 120px;
    margin: 20px auto;
}
.agrupar{
    border: 1px solid white;
    background-color: rgb(190, 206, 172);
    width: 900px;
    /* margin: 15px auto; */
    margin: 20px 10px;
}

.cabecera{
    background: rgb(211, 166, 134);
    border: 1px dashed rgb(160, 160, 228);
    padding: 20px;
}

.seccion{
    float: left;
    width: 600px;
    margin: 10px;
}
article{
    background-color: rgb(207, 221, 156);
    border: 1px solid #f0b907;
    margin-bottom: 15px;
    padding: 20px;
}

time{
    color: fuchsia;
}

/* footer h5{
    text-align: right;
} */
article footer{
    text-align: right;
}

#idreferencias{
    width: 250px;
    float: right;
    margin: 20px 0px;
    border: 1px solid #999;
    margin-right: 15px;
}

.piepag{
    clear: both;
}

#idreferencias blockquote{
    border: 1px solid black;
    padding: 10px;
    background: rgb(255, 230, 0);
    margin-bottom: 20px;
    
}