<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueAcc</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>

    <header></header>
    <section>
        <h6>{{1+1}}</h6>

        <div id="myApp">

            <h1>hola mundo</h1>
            <p> Desde App.js</p>
            <h6>{{1+1}}</h6>
            <p>{{[1,2,3,4,5,6]}}</p>
            <p>{{true? 'Verdadero' : 'False'}}</p>
            <p>{{true? 'False' : 'Verdadero'}}</p>
            <p>{{'leta valor amm before examen'}}</p>
            <p>{{'o' + 'valors'}}</p>
            <!-- llamando desde js, propiedades reactivas -->
            <!-- <p>{{valor}}</p> -->
            <!-- <p>{{mensaje}}</p> -->

            <button v-on:click="cambiarMensaje">Cambiar mensaje</button>
            <button v-on:click="cambiarNumero">Cambiar numero</button>
            <hr />
            <!-- se puede usar la propiedad reactiva -->
            <p>{{lista}}</p>
            <!-- especifar n de elementos -->
            <!-- <table></table> -->

            <!-- crear dos cajas de texto tipo input -->
            <label for="idNombre">Nombre</label>
            <!-- accediendo a la propiedad reactiva JS -->
            <input @keypress="presionandoTecla" id="idNombre" type="text" v-model="nombre">
            <label for="idApellido">Apellido</label>
            <input @keypress.enter="agregarEstudianteModificador" id="idApellido" type="text" v-model="apellido">

            <button @click="agregarEstudiante">Agregar</button>
            {{nombre}}
            {{apellido}}

            <ul>
                <!-- li -> directiva v-for -->
                <!-- tenemos el OBJETO de estudiante y estudiante es una lista de objetos-->
                <!-- <li v-for="estudiante in lista">{{estudiante.nombre}} - {{estudiante.apellido}} <button>Editar</button></li> -->
                <!-- tambien se puede acceder los elementos de los atributos (desestructuracion)-->
                <!-- <li v-for="{nombre,apellido} in lista">{{nombre}} - {{apellido}} <button>Editar</button></li> -->

                <!-- numeracion de estudiantes por un index -->
                <!-- <li v-for="(estudiante, index) in lista">{{index+1}}:{{estudiante.apellido}} - {{estudiante.apellido}} <button>Editar</button></li> -->

                <!-- desestructuracion de objetos -->
                <li v-for="({nombre, apellido}, index) in lista">
                    <p v-if="nombre !=='' ? true : false">{{index+1}}:{{nombre}} - {{apellido}}</p>
                    <!-- {{nombre !==''}} -->
                    <button v-if="nombre !== null ? true : false">Editar</button>
                </li>
                <!-- <li>Maria</li>
                <li>Sofia</li>
                <li>Lucy</li>
                <li>Naomi</li> -->
            </ul>
        </div>
        <script src="../js/appVue.js"></script>
    </section>
</body>

</html>